<div class="unit header">
  <h1 id="title">Dashboard</h1>
</div>

<div class="unit body">
  <div class="columns on-3 same-height">
    
    <div class="column fixed sidebar" style="width:200px;">
      <div class="container" id="accordion">
        <div class="tab_title"><a href="#">Developers</a></div>
        <div id="devs_side">
          <%= render 'developers/sidebar' %>
        </div>
        <div class="tab_title"><a href="#">Projects</a></div>
        <div id="projs_side">
          <%= render 'projects/sidebar' %>
        </div>
      </div>
    </div>
    <div class="column span-2" style="margin-bottom:10px;">
      <div id="repos" style="float:left;"><small>Current Projects</small></div>
    </div>
    <div class="column span-2" id="main">
      
      <div class="columns on-2">
        <div class="column content" id="github">
          <h3>Commit</h3>
        </div>
        <div style="width:10px;"></div>
        <div class="column content" id="tracks">
          <h3>Task</h3>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
