<div class="unit header">
  <h1 id="title">Dashboard</h1>
</div>

<div class="unit body">
  <div class="columns on-3 same-height">
    
    <div class="column fixed sidebar" style="width:200px;">
      <div class="container">
        <div id="devs_side">
          <%= render 'developers/sidebar' %>
        </div>
        <div class="projs_side">
          <%= render 'projects/sidebar' %>
        </div>
      </div>
    </div>
    <div class="column span-2" id="repos">
      Found repos
    </div>
    <div class="column span-2" id="main">
      
      <div class="columns on-2">
        <div class="column content" id="github">
          <table class="task_tracker">
            <thead>
              <th>Commit</th>
            </thead>
            <tbody id="commits">
            </tbody>
          </table>
        </div>
        <div style="width:10px;"></div>
        <div class="column content" id="tracks">
          <table class="task_tracker">
            <thead>
              <th>Task</th>
            </thead>
            <tbody id="tracker">
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
