<h3>Adding a new developer</h3><br>
<p>
  Add your name and last name
</p><br>
<p>
  Your usual email
</p><br>
<p>
  The username for your github account not your email
</p><br>
<p>
  To avoid the usage of password provide the API token.
</p>
<p>
  The username for your pivotal account not your email
</p>
<p>
  To avoid the usage of password provide the API token.
</p><br>