<div>
    <li class="add_dev">
      <a href="#" class="new_element" id="new_developer" name="developers">+ Add new developer</a>
    </li>
  <ul>
  <% @devs.each do |dev| %>
    <li class="dev dev_elem">
      <%= gravatar_for dev, :size => 25 %>
      <a class="dev_link" href="#" id="<%=dev.id%>"> <%= dev.github_login %></a>
    </li>
  <% end %>
  </ul>
</div>
