<h1>New developer</h1>

<% form_for(@developer) do |f| %>

  <p>
    <%= f.label :user_github %><br />
    <%= f.text_field :user_github %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', developers_path %>