$("#repos").text("");
<% @repos.each do |repo| %>
  $("#repos").append('<li class="found_repo">\
  <a href="#" class="project_link" id="<%= repo.repo_name %>"><%= repo.repo_name %></a>\
  </li>');
<% end %>
