body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
#contain {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  overflow: hidden;
}

#main {
  margin-left: 20px;
}

#home {
  text-decoration:none;
  color: #000;
}

#home:hover {
  color: #4B7399;
}

#repos {
  margin-left: 30px;
}

#github, #tracks {
  text-align: center;
}

.header {
  text-align: center;
}


.status, .date {
  text-align: center;
}

.date {
  width:70px;
}
tr {
  margin-top: 5px;
}

td {
  font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  padding: 5px;
}

td.commit {
  background: #EAF2F5;
  background-image: url('/images/bg_gradient.gif');
  border: solid 1px #BEDCE7;
  font-size: 12px;
}

td.task {
  background: #F8F8F8;
  background-image: url('/images/row_bg.png');
  border: solid 1px #E1E1E1;
  font-size: 12px;  
}

.commit_info, .task_info {
  margin: 5px;
}

.author, .status {
  padding-right: 10px;
  float: left;
}

.cmt_date, .task_date {
  color: #888;
  float: left;
}

ul {
  margin: 0;
}

li.dev {
  border: solid 1px #DDD;
  padding: 7px;
}

li.dev a {
  text-decoration: none;
  color: #4183C4;
}

li.proj {
  border: solid 1px #DDD;
  padding: 7px;
}

li.proj a {
  text-decoration: none;
  color: #4183C4;
}

li.found_repo {
  float:left;
  padding: 5px;
}

li.add_dev {
  border: solid 1px #DDE;
  padding: 7px;
}

li.add_dev a{
  text-decoration: none;
  color: #4183C4;
}

li.ui-draggable-dragging {
  width: 200px;
  background: #EEE;
}

.tab_title {
  margin-top: 10px;
  background: #EEE;
  overflow: hidden;
  height: 20px;
  border: solid 3px #DDE;
  text-align: center;
  vertical-align: top;
}

.tab_title a {
  text-decoration: none;
  color: #4183C4;
}