<h3>Adding Project</h3><br>
<p>
  The title of your project. It will be used within the application
</p><br>
<p>
  The username of the dev that holds the project repository
</p><br>
<p>
  The name of the project's repository in github
</p><br>
<p>
  ID of the project in pivotal tracker
</p><br>
