<div id="projects">
  <div>
      <li class="proj">
        <a href="#" class="new_element" id="new_project" name="projects">+ Add new project</a>
      </li>
    <ul>
      <% @projects.each do |proj| %>
        <li class="proj">
          <a class="project_link" href="#" id="<%= proj.repo_name%>"><%= proj.name %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>