<% if @tickets.nil? || @tickets.empty? %>
  <h3>There are no task assign.</h3>
<% else %>
<table class="task_tracker">
  <thead>
    <th>Tasks</th>
  </thead>
  <tbody id="tracker">
    <% @tickets.each do |ticket| %>
      <tr>
        <td class="task"><%= ticket.name %>
          <div class="task_info">
            <div class="status"><%= ticket.owned_by %></div>
            <div class="task_date"><%= ticket.updated_at.strftime("%b %d") %></div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
