$("#title").html('<%= escape_javascript @project.name %>');
$("#main").html(
'<div class="columns on-2">\
  <div class="column content" id="github">\
    <%= escape_javascript render :partial => "github_tracker", :object => @commits %>\
  </div>\
  <div style="width:10px;display:block;"></div>\
  <div class="column content" id="tracks">\
    <%= escape_javascript render :partial => "task_tracker", :object => @tickets %>\
  </div>'
);