
<div class="unit header">
<h1 id="title">Projects</h1>
</div>

<div class="unit body">
  <div class="columns on-3 same-height">
    <div class="column fixed sidebar" style="width:200px;">
    </div>
    <div class="column content">
    </div>
    <div class="column content">
      Task tracker
    </div>
  </div>
</div>